/* footer-001.less */

footer {

  .sub-menu {
    margin-top: .5rem;
    @media (max-width: 991px) {
      display: none;
    }
    &.active {
      display: block;
    }
    & > li {
      margin: .3rem 0;
    }

  }

  .contact-details {
    margin: .8rem 0;
  }

  .menu {
    .flex-display();
    @media (max-width: 720px) {
      display: flex;
      flex-direction: column;
    }
    .menu-item-has-children > a {
      color: @color-3;
      &:hover, &:focus {
        color: @color-3;
      }
    }
    a {
      color: @color-3;
      &:hover {
        color: @color-1;
        .transition();
      }
    }

    > li {

      position: relative;
      @media (max-width: 720px) {
        padding: 1rem 0;
      }
      .flex(0 0 33.333%);

      > a {
        font-size: 1.2rem;
        font-weight: bold;
        position: relative;

        @media (max-width: 720px) {
          &:after {
            content: '';
            position: absolute;
            left: -29px;
            top: 9px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #ad974f;
          }
        }

      }
    }
  }
}

