/* header-001.less */

@direction: rtl;

@color-1: #ad974f;
@color-2: #ededeb;
@color-3: #969696;
@color-4: #363636;
@color-5: #dcdedd;

@header001_bgcolor_desktop: @color-4;
@header001_bgcolor_mobile: @color-4;

@header001_border_bottom: @color-1;

@header001__nav__a_color: #fff;
@header001__nav__li_bgcolor_hover: @color-1;
@header001__nav__li_bgcolor_active: @color-1;

@header001__social-bar__svg_color: @color-3;
@header001__social-bar__svg_color_hover: @color-1;

@header001__sub_menu__a_color: @color-3;
@header001__sub_menu__a_color_hover: @color-1;

@header001__button_color: @color-1;
@header001__button_border_color: @color-1;
@header001__button_bgcolor_hover: @color-1;
@header001__button_color_hover: #fff;
@header001__button_color_focus: @color-1;

@header001__exiticon__bgcolor: @color-1;

@header001__mobilemenu_bgcolor: @color-1;
@header001__mobilemenu__stroke_bgcolor: #fff;

@header001__menuoverlay_bgcolor: #fff;


.header001 {
  direction: @direction;
  position: relative;
  width: 100%;
  z-index: 9;
  overflow: hidden;
  background-color: @header001_bgcolor_desktop;
  border-bottom: 1px solid @header001_border_bottom;
  @media (min-width: 992px) {
    font-size: @font-size-base;
  }

  &__menu-container {
    position: fixed;
    @media (min-width: 992px) {
      position: relative;
    }
  }

  &__nav {
    position: absolute;
    .nav__li {
      @media (max-width: 992px) {
        margin-top: .4em;
        margin-bottom: .4em;
      }
    }
    @media (min-width: 992px) {
      .d-flex-center();
      position: relative;
    }
    .nav__span {
      font-weight: 600;
    }
    > div > ul {
      @media (max-width: 991px) {
        .align-items(center);
      }
    }
  }

  &__jobs {
    align-items: center;
    display: flex;
    @media (max-width: 992px) {
      display: none;
    }
    .button {
      color: @header001__button_color;
      font-weight: 600;
      justify-content: center;
      font-size: 1.25em;
      border: 1px solid @header001__button_border_color;
      padding: 8px 37px;
      .transition();
      @media (min-width: 992px) {
        .d-flex-center();
      }
      &:hover {
        color: @header001__button_color_hover;
        background-color: @header001__button_bgcolor_hover;
        .transition();
      }
      &:focus {
        color: @header001__button_color_focus;
      }
      &:hover:focus {
        color: white;
      }

    }

  }
  &__social-bar {
    display: none;
    @media (min-width: 992px) {
      .d-flex-center();
    }
  }
  .mobile-menu {
    padding: 0 10px;
    background-color: @header001__mobilemenu_bgcolor;
    &__strokes {
      width: 33px;
      cursor: pointer;
    }
    &__stroke {
      width: 100%;
      height: 5px;
      margin-bottom: 5px;
      background: @header001__mobilemenu__stroke_bgcolor;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    @media (min-width: 992px) {
      display: none;
    }
  }

  .logo .logo-img {
    @media (max-width: 992px) {
      width: 120px;
    }
  }

  .menu-overlay-navigation-close-button {
    color: #032d4c;
  }

  .menu-overlay {
    visibility: hidden;
    height: 100%;
    width: 100%;
    margin-left: 0;
    left: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: @header001__menuoverlay_bgcolor;
    overflow-x: hidden;
    transition: all 0.5s;
    &__show_true {
      visibility: visible;
      transition: all .45s;
      margin-left: -100%;
      left: 100%;
    }
    &__content {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
    }
    &__close {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 46px;
    }
    &__links {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &__a {
      font-size: 1.2rem;
      color: #51586c;
      text-decoration: none;
      display: block;
    }
    &__a:not(:last-child) {
      margin-bottom: 20px;
    }

  }

  .nav {
    &__span {
    }
    &__ul {
      display: flex;
      @media (max-width: 991px) {
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-right: -100%;
        flex-direction: column;
        height: 100vh;
        background: @header001_bgcolor_mobile;
        z-index: 9;
        width: 100%;
        transition: margin-right .5s;
        top: 0;
        right: 0;

      }
      &_show_true {
        margin-right: 0;
        display: flex !important;
        transition: margin-right .5s;
      }

      > ul > .nav__li {
        .transition();
        padding: 0 .5em;
        font-size: 1.5em;
        height: 42px;
        @media (min-width: 992px) {
          height: 100px;
          &:hover {
            background-color: @header001__nav__li_bgcolor_hover;
            .transition();

          }
        }

        > .nav__a {
          @media (max-width: 991px) {
            .d-flex-justify(center);
          }
          color: @header001__nav__a_color;
          height: 100%;
          white-space: nowrap;

          //position: relative;
          @media (min-width: 992px) {
            //padding: 4.2vh 10px;
          }

        }
        &.active {
          @media (min-width: 992px) {
            background-color: @header001__nav__li_bgcolor_active;
          }
        }
      }
    }
    &__exit-icon {
      display: none;
      position: absolute;
      top: 16px;
      left: 14px;
      width: 50px;
      height: 50px;
      z-index: 6000;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;
      &_show_true {
        display: block;
      }
    }
    &__exit-icon:before, &__exit-icon:after {
      content: '';
      display: block;
      background: @header001__exiticon__bgcolor;
      height: 29px;
      width: 3px;
      position: absolute;
      top: 9.3px;
      left: calc(50% - 2px);
      transform-origin: center;
      transition: all .1s ease-in-out;
    }
    &__exit-icon:before {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &__exit-icon:after {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    &__exit-icon:hover:before, &__exit-icon:focus:before {
      transform: rotate(135deg) scale(1.4, 1.4);
      -ms-transform: rotate(135deg) scale(1.4, 1.4);
      -webkit-transform: rotate(135deg) scale(1.4, 1.4);
    }
    &__exit-icon:hover:after, &__exit-icon:focus:after {
      transform: rotate(45deg) scale(1.4, 1.4);
      -ms-transform: rotate(45deg) scale(1.4, 1.4);
      -webkit-transform: rotate(45deg) scale(1.4, 1.4);
    }
    &__dropdown {
      @media (min-width: 992px) {
        .box-shadow(1px 1px 5px 0px #2c3235);
      }
      visibility: hidden;
      position: absolute;
      opacity: 0;
      .nav__a {
        @media (max-width: 991px) {
          .d-flex-justify(center);
        }
        font-size: 1.3rem;
        color: @header001__sub_menu__a_color;
      }
    }
    //&__li.menu-item-has-children a:hover ~ div {
    &__li.menu-item-has-children:hover > div {
      visibility: visible;
      opacity: 1;
      z-index: 9;
      .transition();
      position: relative;
      @media (min-width: 992px) {
        background-color: #ffffff;
        position: fixed;
        right: 0;
        width: 100vw;

      }
    }

    &__sub-menu {
      .nav__li {
        width: 100% !important;
        @media (min-width: 991px) {
          float: right;
          width: 33%;
          margin-bottom: .8rem;
        }
        @media (max-width: 1757px) {
          width: 50%;
        }
      }
      .nav__a:hover {
        color: @header001__sub_menu__a_color_hover;
      }
    }

    &__img {
      @media (max-width: 991px) {
        display: none;
      }
      //background: url('images/photomegamenu.jpg');
      width: 775px;
      height: 240px;
    }

    &__logo {

      @media (max-width: 992px) {
        background-image: url('images/logobclass.png');
        width: 217px;
        height: 80px;
        background-repeat: no-repeat;
        position: absolute;
        top: 38px;
      }
      .logo-img {
        @media (max-width: 1200px) and (min-width: 992px) {
          width: 80%;
        }
      }
    }

    &__jobs {
      position: absolute;
      bottom: 60px;
      @media (min-width: 992px) {
        display: none;
      }
    }

    &__social-bar {
      @media (min-width: 992px) {
        display: none;
      }
    }

  }

  .social-bar {
    svg {
      fill: @header001__social-bar__svg_color;
      width: 20px !important;
      height: 20px !important;
      &:hover {
        fill: @header001__social-bar__svg_color_hover;
        .transition();
      }
    }
    &__a {
      margin: 0 .3em;
    }
  }

}