/* classes.less */



.hidden {
    display: none!important;
}
//.bclass-button {
//    color: @color-1;
//    font-weight: 600;
//    justify-content: center;
//    font-size: 1.25em;
//    border: 1px solid @color-1;
//    padding: 8px 37px;
//    .transition();
//    @media (min-width: 992px) {
//        .d-flex-center();
//    }
//    &:hover {
//        color: @color-white;
//        background-color: @color-1;
//        .transition();
//    }
//}

.row {
    overflow: hidden;
}
.position-relative {
    position: relative!important;
}
.position-fixed {
    position: fixed!important;
}
