/*  variables.less  */

//base sizes
@space-xs: 5px;
@space-sm: 10px;
@space-md: 15px;
@space-md2: 25px;
@space-lg: 35px;
@space-xl: 45px;
@space-xxl: 60px;

//colors
@color-text: #231f20;
@color-nav-links: @color-text;

@color-black: #231f20;
@color-white: #ffffff;





//end bclass

//Typography
@font-family-main: 'Archivo Narrow', sans-serif;
@font-size-base: 0.83vw;
//@font-size-base-mobile: 18px;

@h1-font-size: 2.8125rem;
@h2-font-size: 1.875rem;
@h3-font-size: 1.875rem;
@h4-font-size: 0.8333333333333333rem;
@h5-font-size: 0.8333333333333333rem;
@h6-font-size: 1.25rem;
@font-size-p: 1.25rem;
@font-size-small: 0.875Rem;








